.texto-grande{
    font-family: var(--fonte1);
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.125;
}

.texto-medio{
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: var(--fonte2);
    font-weight: 400;
}